.carousel-item .d-lg-block h1 {
    font-weight: 700;
    font-size: 80px;
}

.carousel-item .d-lg-block {
    margin-bottom: 100px;
}

.carousel-inner .carousel-item img {
    filter: brightness(60%);
}

@media only screen and (max-width: 992px) {

    .carousel-caption .d-flex .btn {
        position: absolute;
        flex-direction: column;
        font-size: 60%;
    }

    .carousel-item .d-md-block h1 {
        font-size: 30px;
    }

}