.carousel-item .d-lg-block h1 {
    font-weight: 700;
    font-size: 80px;
}

.carousel-item .d-lg-block {
    margin-bottom: 100px;
}


.carousel-inner .carousel-item img {
    filter: brightness(60%);
}

@media only screen and (max-width: 992px) {

    .carousel-caption {
        position: absolute;
        flex-direction: column;
    }

    .carousel-item .d-md-block h1 {
        font-size: 30px;
        margin-top: 70px;
    }

    .carousel-item .d-md-block p {
        font-size: 70%;
        margin-bottom: -50px;
    }

    .carousel-item .d-md-block .btn {
        font-size: 60%;
        margin-bottom: -100px;
    }

    .m-5 .d-flex {
        flex-direction: column;
    }

}